[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinylive"]
	path = shinylive
	url = https://github.com/posit-dev/r-shinylive
