[submodule ".registry"]
	path = .registry
	url = https://github.com/posit-dev/posit-dev.r-universe.dev
	branch = HEAD
[submodule "brand.yml"]
	path = brand.yml
	url = https://github.com/posit-dev/brand-yml
	subdir = pkg-r
[submodule "btw"]
	path = btw
	url = https://github.com/posit-dev/btw
[submodule "connectapi"]
	path = connectapi
	url = https://github.com/posit-dev/connectapi
[submodule "connectcreds"]
	path = connectcreds
	url = https://github.com/posit-dev/connectcreds
[submodule "mcptools"]
	path = mcptools
	url = https://github.com/posit-dev/mcptools
[submodule "plumber2"]
	path = plumber2
	url = https://github.com/posit-dev/plumber2
[submodule "querychat"]
	path = querychat
	url = https://github.com/posit-dev/querychat
	subdir = pkg-r
[submodule "shinychat"]
	path = shinychat
	url = https://github.com/posit-dev/shinychat
	subdir = pkg-r
[submodule "shinylive"]
	path = shinylive
	url = https://github.com/posit-dev/r-shinylive
[submodule "shinymedia"]
	path = shinymedia
	url = https://github.com/posit-dev/shinymedia
	subdir = pkg-r
[submodule "snowflakeauth"]
	path = snowflakeauth
	url = https://github.com/posit-dev/snowflakeauth
